body {
    font-family: sans-serif;
    color: #300;
    background-color: white;
    font-size: 16px;
}

h1, h2 {
    font-weight: normal;
    font-variant: small-caps;
    color: #900;
    font-family: serif;
}

h1 {
    font-size: 400%;
    text-align: center;
    margin:0;
}

h2 {
    font-size: 150%;
    margin-bottom: 0;
    border: 1px solid #900;
    border-left: 2ex solid #900;
    border-right: none;
    padding-left: 1ex;
}

#profile-pic {
    width: 15em;
    padding: 0.5em;
    border: 0.25em solid #900;
    border-radius: 2em 0;
    background-color: white;
    transform: rotate(10deg);
    position: absolute;
    right: 2em;
    top: 2em;
}

ul li {
    list-style-type: square;
}

ul ul li {
    list-style-type: disc;
}

.narrow {
    width: 50%;
}

input, button {
    font-size: 16px;
}

button {
    display: block;
    margin: 1em 0;
}

input[type=text], input[type=email] {
    border: 2px solid #900;
    border-width: 0 0 2px 0;
}

#form1 label {
    margin-right: 3em;
}

#form1 input[type=text], #form1 input[type=email] {
    display: block;
    margin: 1em 0;
}

table {
    border: double 5px #900;
    margin: 1em 0;
}

tr:nth-child(even) {
    background-color: #fdd;
}

th, td {
    /* border: 1px solid #900; */
    padding: 0 0.25em;
    margin: 0;
}

th {
    background-color: #900;
    color: white;
    text-align: left;
    border-color: white;
}